<!DOCTYPE html>
<html>
  <head>
    <title>Shorten.me ~ Your link shortner</title>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag image_path('favicon.png') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
